* {
  font-family: Oswald;
  box-sizing: border-box;
  --main: #101019;
  --secondary: #99a1a6;
  --tertiary: #e7a336;
  --background: #f4f5f6;
  --text: #2f3437;
}

.content h2 {
  margin-left: 20px;
  color: var(--text);
}

.content p {
  margin-left: 40px;
  color: var(--text);
}

.posts {
  position: relative;
  text-align: center;
  display: inline-flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
  border-color: var(--secondary);
}

.posts a {
  position: relative;
  text-align: center;
  color: var(--main);
}

.img-1 {
  max-width: 1600px;
  /* The max width here is different from the second and third image so that it is larger than images 1 and 2. */
}

.img-2,
.img-3 {
  max-height: 400px;
  max-width: 800px;
}

.post-1 {
  flex: 2 0 0;
  /* Used flex to make this first post become twice the size of the others */
  flex-basis: 100%;
  position: relative;
  background-color: var(--secondary);
  border-radius: 15px;
  border-style: solid;
  border-width: 10px;
  border-color: var(--secondary);
}

.post-2,
.post-3 {
  flex: 1 0 0;
  position: relative;
  background-color: var(--secondary);
  border-radius: 15px;
  border-style: solid;
  border-width: 10px;
  border-color: var(--secondary);
}

.post-1:hover,
.post-2:hover,
.post-3:hover {
  background-color: var(--tertiary);
  text-decoration: none;
}

/* Added hover to change the background color when hovering over the element */

.post-1 h3,
.post-2 h3,
.post-3 h3,
.post-1 a {
  position: relative;
  top: 2px;
  color: var(--main);
}
