* {
  font-family: Oswald;
  box-sizing: border-box;
  --main: #101019;
  --secondary: #99a1a6;
  --tertiary: #e7a336;
  --background: #f4f5f6;
  --text: #2f3437;
}

.me {
  height: 600px;
  width: 100%;
  margin-bottom: 25px;
  /* Background image is a photo of myself, Marcelo Andres Perez. */
  background-size: cover;
  background-position: center;
}

.content {
  background-color: var(--main);
}

.about-me {
  padding-top: 20px;
}

.content h2 {
  margin-left: 20px;
  color: var(--text);
}

.content p {
  margin-left: 40px;
  color: var(--text);
}
