* {
  font-family: Oswald;
  box-sizing: border-box;
  --main: #101019;
  --secondary: #99a1a6;
  --tertiary: #e7a336;
  --background: #f4f5f6;
  --text: #2f3437;
}

.Andres {
  color: var(--tertiary);
}

.header {
  background-color: var(--background);
}

.header h1 {
  display: inline-block;
  font-size: 48px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 2px;
  color: var(--text);
}
