* {
  font-family: Oswald;
  box-sizing: border-box;
  --main: #101019;
  --secondary: #99a1a6;
  --tertiary: #e7a336;
  --background: #f4f5f6;
  --text: #2f3437;
}

.footer {
  background-color: var(--background);
}

.footer h2 {
  color: var(--text);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer p {
  color: var(--text);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
